@charset "UTF-8";

p {
	font-size: 12px;
}

.title {
	font-weight: bold;
	font-size: 30px;
}

.lead {
	font-size: 16px;
}

#title, #price {
	font-size: 30px;
	font-weight: bold;
}

#btBuy, #btReply {
	background-color: #FD8A69;
	border-color: #FD8A69;
}

#regdate {
	color: gray;
	font-size: 20px;
}

.nick {
	font-size: 1.2em;
	width: 15%;
}

.buttons {
	width: 15%
}

#btEdit {
	background-color: blue;
	border-color: blue;
}

#btDel {
	background-color: red;
	border-color: red;
}

.nav-link, .nav-link:hover {
	color: #a6a6a6;
}

.detail {
	margin: 20px 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
   
    font-weight: bold;
}