@charset "UTF-8";

.buttons {
	text-align: center;
}

.reg, .title {
	width: 80%;
	margin: 0 10%;
}

.title {
	padding-top: 20px;
	padding-bottom: 20px;
}

.red {
	font-size: 16px;
	color: red;
}

.blue {
	font-size: 14px;
	color: rgb(0, 153, 255);
}
#btnreg{
	background-color: #FD8A69;
	border-color: #FD8A69;

}