@charset "utf-8";


html, body	{width:100%;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button	{margin:0;padding:0}
body,h1,h2,h3,h4,th,td,input,button{ font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-size: 13px; font-weight: 400; color: #787a84;}
body		{background:#fff;word-wrap:break-word; word-break:break-all;}
hr			{display:none}
img,fieldset,iframe	{border:0 none}
img			{vertical-align:middle}
ul,ol,li	{list-style:none}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,nav,section	{display:block;padding:0px;margin:0px}
input[type="button"] {bottom: 15px; right: 15px; width: 60px; height: 26px; border: 1px solid #FD8A69; background: #fff; font-size: 15px; font-weight: 300; color: #FD8A69; cursor:pointer; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; -o-transition: background 0.3s; transition: background 0.3s;}
input[type="button"]:hover,
input[type="button"]:focus {background: #FD8A69;color: #fff;}
a			{text-decoration: none;}

.tl	{text-align:left;}
.tc	{text-align:center;}
.tr	{text-align:right;}

.tit_01{ font-size: 15px; font-weight: 500; color: #333; margin-bottom:10px;}
.tit_02{ font-size: 14px; font-weight: 400; color: #333; margin-bottom:10px;}
.tit_03{ font-size: 13px; font-weight: 300; color: #333; margin-bottom:10px;}
.tit_04{ font-size: 12px; font-weight: 300; color: #333; margin-bottom:10px;}

div.wrap	{position: relative; width:1280px;margin:0 auto;padding:0;}

header		{border-bottom: solid 2px #FD8A69; text-align: center; line-height: 0; font-size: 0; height: 80px;}

section		{min-height: 600px;padding-bottom:140px;}

section nav	{float:left; width : 220px; padding-top:100px;}
#lnb .title	{font-size:20px; font-weight:1000; color :#1c2238; padding-bottom:20px;}

#lnb ul.depth2 {border-top: solid 2px #FD8A69;}
#lnb ul.depth2 > li {border-bottom: solid 1px #c7cdd7;}
#lnb ul.depth2 > li > a {display: block; padding: 14px 45px 14px 20px; background: #fff url(../images/common/icnMoreLnb.png) no-repeat 180px 17px; line-height: 1.2; font-size: 19px; font-weight: 400; color: #000; letter-spacing: -1px; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s;}
#lnb ul.depth2 > li > a:hover,
#lnb ul.depth2 > li > a:focus {background-color: #e8ebf0;}

#lnb ul.depth2 > li.on > a {background-color: #FD8A69 !important; color: #fff;}
#lnb ul.depth2 > li.on > ul.depth3 {display: block;}

section article	{float:right; position: relative; width : 1040px; margin: 10px 0px;}
div.container 	{width:100%; }

footer	{clear:both; background: #fff; border-top: 1px solid #dfdfdf; line-height: 0; font-size: 0; height: 80px;}

table.tb			{width:100%; border-collapse:collapse; border-top-style:none;}
table.tb caption	{display:none; left:-99999999in;}
table.tb thead		{display:table-header-group; width:100%;}
table.tb tbody		{display:table-row-group; width:100%;}
table.tb tr		{background:white; }
table.tb tr:hover	{background: #FDFCDB;}
table.tb tr.nohover{background:white; }
table.tb tr.selected {background:#FCFBBC; }
table.tb th		{background:#FEE2DA; text-align:center; font-weight: 400; color: #1c2238; height: 24px; padding: 2px 6px;  border-top: solid 1px #000; border-bottom: solid 1px #000;}
table.tb td		{height: 24px; padding : 2px 6px; border-top: solid 1px #000; border-bottom: solid 1px #000;}
table.tb tr:first-child td {height: 24px; padding : 2px 6px; border-top:none;}
